.source pre code .hll { background-color: #ffffcc }
.source pre code .c { color: #408080; font-style: italic } /* Comment */
.source pre code .err { border: 1px solid #FF0000 } /* Error */
.source pre code .k { color: #008000; font-weight: bold } /* Keyword */
.source pre code .o { color: #666666 } /* Operator */
.source pre code .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.source pre code .cp { color: #BC7A00 } /* Comment.Preproc */
.source pre code .c1 { color: #408080; font-style: italic } /* Comment.Single */
.source pre code .cs { color: #408080; font-style: italic } /* Comment.Special */
.source pre code .gd { color: #A00000 } /* Generic.Deleted */
.source pre code .ge { font-style: italic } /* Generic.Emph */
.source pre code .gr { color: #FF0000 } /* Generic.Error */
.source pre code .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.source pre code .gi { color: #00A000 } /* Generic.Inserted */
.source pre code .go { color: #888888 } /* Generic.Output */
.source pre code .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.source pre code .gs { font-weight: bold } /* Generic.Strong */
.source pre code .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.source pre code .gt { color: #0044DD } /* Generic.Traceback */
.source pre code .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.source pre code .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.source pre code .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.source pre code .kp { color: #008000 } /* Keyword.Pseudo */
.source pre code .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.source pre code .kt { color: #B00040 } /* Keyword.Type */
.source pre code .m { color: #666666 } /* Literal.Number */
.source pre code .s { color: #BA2121 } /* Literal.String */
.source pre code .na { color: #7D9029 } /* Name.Attribute */
.source pre code .nb { color: #008000 } /* Name.Builtin */
.source pre code .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.source pre code .no { color: #880000 } /* Name.Constant */
.source pre code .nd { color: #AA22FF } /* Name.Decorator */
.source pre code .ni { color: #999999; font-weight: bold } /* Name.Entity */
.source pre code .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.source pre code .nf { color: #0000FF } /* Name.Function */
.source pre code .nl { color: #A0A000 } /* Name.Label */
.source pre code .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.source pre code .nt { color: #008000; font-weight: bold } /* Name.Tag */
.source pre code .nv { color: #19177C } /* Name.Variable */
.source pre code .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.source pre code .w { color: #bbbbbb } /* Text.Whitespace */
.source pre code .mf { color: #666666 } /* Literal.Number.Float */
.source pre code .mh { color: #666666 } /* Literal.Number.Hex */
.source pre code .mi { color: #666666 } /* Literal.Number.Integer */
.source pre code .mo { color: #666666 } /* Literal.Number.Oct */
.source pre code .sb { color: #BA2121 } /* Literal.String.Backtick */
.source pre code .sc { color: #BA2121 } /* Literal.String.Char */
.source pre code .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.source pre code .s2 { color: #BA2121 } /* Literal.String.Double */
.source pre code .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.source pre code .sh { color: #BA2121 } /* Literal.String.Heredoc */
.source pre code .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.source pre code .sx { color: #008000 } /* Literal.String.Other */
.source pre code .sr { color: #BB6688 } /* Literal.String.Regex */
.source pre code .s1 { color: #BA2121 } /* Literal.String.Single */
.source pre code .ss { color: #19177C } /* Literal.String.Symbol */
.source pre code .bp { color: #008000 } /* Name.Builtin.Pseudo */
.source pre code .vc { color: #19177C } /* Name.Variable.Class */
.source pre code .vg { color: #19177C } /* Name.Variable.Global */
.source pre code .vi { color: #19177C } /* Name.Variable.Instance */
.source pre code .il { color: #666666 } /* Literal.Number.Integer.Long */
